*/ {
    margin: 0%;
    padding: 0%;
    
}





body  {
    background-image: url('images/background-white-wallpaper.jpeg');
    border-radius:10px; 
    color: #8f0606;
    text-align: center;
    font-family: cursive;
   
}

#titlebon {
    margin-top: 55px;
    margin-bottom: 35px;
}

#titlebon h1 {
    font-size: 55px;
}

body p { 
    color: rgb(58, 70, 121);
}

.nav-menu {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    
}

.nav-menu li {
    cursor: pointer;
}

.nav-menu a {
    text-decoration: none;
    color: #8f0606;
}

.noDots {
    list-style-type: none;
}


h2 {
    color: rgb(58, 70, 121);
       font-family: cursive;
}  
 
 #menu {
     font-size: 28px;
 }






